@use "../global" as g;

// ======================================================================
// p-consulting
// ======================================================================

.p-consulting {
  .l-main {
    .l-contents {
      .l-sec {

        &.l-support {
          padding-inline: 0;

          .c_support {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: calc(100vw * 200 / 1920) 0 0;

            @include g.sp {
              flex-wrap: wrap;
              margin: calc(100vw * 50 / 375) 0 0;
            }

            .left {
              margin: 0 0 0 calc(100vw * 200 / 1920);

              @include g.sp {
                width: 100%;
                margin: 0;
                padding-inline: calc(100vw * 16 / 375);
              }

              .u_head_ttl_02 {
                padding: 0;

                @include g.sp {
                  // text-align: center;
                }

                .en {
                  font-size: calc(100vw * 64 / 1920);
                  font-weight: 900;

                  @include g.sp {
                    font-size: calc(100vw * 32 / 375);
                  }
                }

                .ja {
                  font-size: calc(100vw * 40 / 1920);
                  font-weight: 700;

                  @include g.sp {
                    font-size: calc(100vw * 21 / 375);
                  }
                }
              }

              .ttl_txt {
                font-size: calc(100vw * 18 / 1920);
                font-weight: 500;
                margin: calc(100vw * 15 / 1920) 0 0;

                @include g.sp {
                  font-size: calc(100vw * 14 / 375);
                  line-height: calc(100vw * 21 / 375);
                  margin: calc(100vw * 15 / 375) 0 0;
                  text-align: left;
                }
              }
            }

            .right {
              width: calc(100vw * 1086 / 1920);
              height: auto;

              @include g.sp {
                width: 100%;
                margin: calc(100vw * 15 / 375) 0 0;
              }

              picture {

                source,
                img {
                  display: block;
                  width: 100%;
                  height: auto;
                }
              }
            }
          }
        }

        &.l-service {
          .c_service_list {
            display: flex;
            justify-content: left;
            align-items: flex-start;
            flex-wrap: wrap;
            gap: calc(100vw * 30 / 1920);
            margin: calc(100vw * 100 / 1920) 0 0;
            padding-inline: calc(100vw * 200 / 1920);

            @include g.sp {
              gap: calc(100vw * 10 / 375);
              margin: calc(100vw * 30 / 375) 0 0;
              padding-inline: calc(100vw * 16 / 375);
            }

            .items {
              width: calc((100% / 3) - calc(100vw * 30 / 1920));
              height: auto;
              text-align: center;
              background: #fff;
              height: calc(100vw * 300 / 1920);
              display: flex;
              justify-content: center;
              align-items: center;
              flex-direction: column;
              padding: calc(100vw * 20 / 1920);
              box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
              border: solid 3px #2c2c2c;
              transition: all ease-in-out .3s;

              @include g.sp {
                width: 100%;
                height: auto;
                padding: calc(100vw * 15 / 375);
              }

              &:hover {
                border: solid 3px #D94A4A;
              }

              .service_list_ttl {
                font-size: calc(100vw * 24 / 1920);
                font-weight: 900;

                @include g.sp {
                  font-size: calc(100vw * 18 / 375);
                }
              }

              .service_list_txt {
                font-size: calc(100vw * 16 / 1920);
                font-weight: 500;
                margin: calc(100vw * 20 / 1920) 0 0;
                line-height: calc(100vw * 39 / 1920);

                @include g.sp {
                  font-size: calc(100vw * 14 / 375);
                  margin: calc(100vw * 10 / 375) 0 0;
                  line-height: calc(100vw * 21 / 375);
                }
              }
            }
          }
        }

        &.l-flow {
          .flow_list {
            width: 60%;
            margin: calc(100vw * 100 / 1920) auto;

            @include g.sp {
              width: 100%;
              margin: calc(100vw * 50 / 1920) auto;
            }

            .items {
              display: flex;
              justify-content: left;
              align-items: center;
              gap: calc(100vw * 80 / 1920);
              margin: calc(100vw * 50 / 1920) 0 0;

              @include g.sp {
                gap: calc(100vw * 30 / 375);
                margin: calc(100vw * 20 / 375) 0 0;
              }

              .number {
                position: relative;
                width: calc(100vw * 100 / 1920);
                height: auto;

                @include g.sp {
                  width: calc(100vw * 50 / 375);
                }

                picture {

                  source,
                  img {
                    display: block;
                    width: calc(100vw * 100 / 1920);
                    height: auto;

                    @include g.sp {
                      width: calc(100vw * 50 / 375);
                    }
                  }
                }

                .number_txt {
                  position: absolute;
                  top: 58%;
                  left: 50%;
                  transform: translate(-50%, -50%);
                  color: #fff;
                  font-size: calc(100vw * 40 / 1920);
                  font-weight: 900;

                  @include g.sp {
                    font-size: calc(100vw * 21 / 375);
                  }
                }
              }

              .flow_right {
                .flow_ttl {
                  font-size: calc(100vw * 32 / 1920);
                  font-weight: 700;

                  @include g.sp {
                    font-size: calc(100vw * 18 / 375);
                  }
                }

                .flow_txt {
                  font-size: calc(100vw * 20 / 1920);
                  font-weight: 400;
                  margin: calc(100vw * 10 / 1920) 0 0;

                  @include g.sp {
                    font-size: calc(100vw * 16 / 375);
                    margin: calc(100vw * 10 / 375) 0 0;
                  }
                }
              }
            }
          }
        }

        &.l-plan {
          padding: 0 0 calc(100vw * 200 / 1920);
          padding-inline: calc(100vw * 200 / 1920);

          @include g.sp {
            padding: 0 0 calc(100vw * 50 / 375);
            padding-inline: calc(100vw * 16 / 375);
          }

          .plan_contents {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            gap: calc(100vw * 20 / 1920);
            margin: calc(100vw * 100 / 1920) 0 0;

            @include g.sp {
              flex-wrap: wrap;
              gap: calc(100vw * 20 / 375);
              margin: calc(100vw * 30 / 375) 0 0;
            }

            .plan {
              box-sizing: border-box;
              width: calc((100% / 3) - (100vw * 40 / 1920));
              background: #fff;
              border: solid calc(100vw * 3 / 1920) #2c2c2c;
              padding: calc(100vw * 30 / 1920);
              border-radius: calc(100vw * 10 / 1920);
              min-height: calc(100vw * 680 / 1920);

              @include g.sp {
                width: 100%;
                border: solid calc(100vw * 3 / 375) #2c2c2c;
                padding: calc(100vw * 15 / 375);
                border-radius: calc(100vw * 4 / 375);
                min-height: unset;
              }

              &._pop {
                border: solid calc(100vw * 3 / 1920) #D94A4A;
                position: relative;

                @include g.sp {
                  border: solid calc(100vw * 3 / 375) #D94A4A;
                }

                &::before {
                  content: "おすすめ";
                  font-weight: 900;
                  width: calc(100vw * 80 / 1920);
                  height: calc(100vw * 40 / 1920);
                  font-size: calc(100vw * 14 / 1920);
                  color: #fff;
                  background: #D94A4A;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  position: absolute;
                  top: calc(100vw * 15 / 1920);
                  left: calc(100vw * 15 / 1920);

                  @include g.sp {
                    width: calc(100vw * 60 / 375);
                    height: calc(100vw * 20 / 375);
                    font-size: calc(100vw * 12 / 375);
                    top: calc(100vw * 5 / 375);
                    left: calc(100vw * 5 / 375);
                  }
                }
              }

              .tag {
                background: #2c2c2c;
                width: calc(100vw * 200 / 1920);
                height: calc(100vw * 45 / 1920);
                font-size: calc(100vw * 18 / 1920);
                color: #fff;
                font-weight: 900;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: calc(100vw * 28 / 1920);
                margin: 0 auto;

                @include g.sp {
                  width: calc(100vw * 150 / 375);
                  height: calc(100vw * 35 / 375);
                  font-size: calc(100vw * 14 / 375);
                  border-radius: calc(100vw * 28 / 375);
                }
              }

              .desc {
                font-size: calc(100vw * 18 / 1920);
                flex-wrap: 500;
                margin: calc(100vw * 20 / 1920) 0 0;
                text-align: center;

                @include g.sp {
                  font-size: calc(100vw * 14 / 375);
                  margin: calc(100vw * 20 / 375) 0 0;
                }
              }

              .price {
                font-size: calc(100vw * 32 / 1920);
                font-weight: 500;
                margin: calc(100vw * 20 / 1920) 0 0;
                text-align: center;

                @include g.sp {
                  font-size: calc(100vw * 16 / 375);
                  margin: calc(100vw * 20 / 375) 0 0;
                }

                ._b {
                  font-size: calc(100vw * 64 / 1920);
                  font-weight: 900;

                  @include g.sp {
                    font-size: calc(100vw * 32 / 375);
                  }
                }
              }

              .plan_ttl {
                font-size: calc(100vw * 24 / 1920);
                font-weight: 700;
                margin: calc(100vw * 50 / 1920) 0 0;
                text-align: center;

                @include g.sp {
                  font-size: calc(100vw * 16 / 375);
                  margin: calc(100vw * 20 / 375) 0 0;
                }
              }

              .plan_list {
                margin: calc(100vw * 18 / 1920) 0 0;

                @include g.sp {
                  margin: calc(100vw * 10 / 375) 0 0;
                }

                .plan_item {
                  font-size: calc(100vw * 20 / 1920);
                  font-weight: 400;
                  margin: calc(100vw * 15 / 1920) 0 0;
                  text-align: center;

                  @include g.sp {
                    font-size: calc(100vw * 14 / 375);
                    margin: calc(100vw * 10 / 375) 0 0;
                  }

                  &._b {
                    font-weight: 700;
                  }

                  &._r {
                    color: #D94A4A;
                    font-weight: 700;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}