@use "../global" as g;

// ======================================================================
// p-homepage
// ======================================================================

.p-homepage {
  .l-main {
    .l-contents {

      .l-sec {
        &.l-type {

          .txt {
            margin: calc(100vw * 50 / 1920) 0 0;
            font-size: calc(100vw * 18 / 1920);
            font-weight: 400;
            line-height: calc(100vw * 32 / 1920);
            letter-spacing: 1.72px;

            @include g.sp {
              margin: calc(100vw * 15 / 375) 0 0;
              font-size: calc(100vw * 14 / 375);
              line-height: calc(100vw * 21 / 375);
            }
          }

          .type_list {
            display: flex;
            flex-wrap: wrap;
            margin: calc(100vw * 100 / 1920) 0 0;

            @include g.sp {
              margin: calc(100vw * 30 / 375) 0 0;
            }

            .items {
              position: relative;
              width: 50%;
              // height: calc(100vw * 448 / 1920);
              height: auto;
              overflow: hidden;

              @include g.sp {
                width: 100%;
              }

              picture {

                source,
                img {
                  display: block;
                  width: 100%;
                  margin: 0 auto;
                  transition: transform .6s ease; // ← アニメーション
                }
              }

              &:hover {
                picture img {
                  transform: scale(1.1);
                }
              }

              .info {
                position: absolute;
                top: 0;
                left: 0;
                padding: calc(100vw * 30 / 1920) calc(100vw * 50 / 1920);
                color: #fff;

                @include g.sp {
                  padding: calc(100vw * 10 / 375) calc(100vw * 15 / 375);
                }

                .type_ttl {
                  font-size: calc(100vw * 32 / 1920);
                  font-weight: 900;

                  @include g.sp {
                    font-size: calc(100vw * 18 / 375);
                  }
                }

                .desc {
                  font-size: calc(100vw * 18 / 1920);
                  font-weight: 500;
                  margin: calc(100vw * 10 / 1920) 0 0;
                  letter-spacing: 1.72px;

                  @include g.sp {
                    font-size: calc(100vw * 12 / 375);
                    margin: calc(100vw * 10 / 375) 0 0;
                  }
                }

                .type_ttl2 {
                  font-size: calc(100vw * 24 / 1920);
                  font-weight: 900;
                  margin: calc(100vw * 47 / 1920) 0 0;

                  @include g.sp {
                    font-size: calc(100vw * 14 / 375);
                    margin: calc(100vw * 10 / 375) 0 0;
                  }
                }

                .disp_list {
                  display: flex;
                  justify-content: left;
                  align-items: center;
                  flex-wrap: wrap;
                  gap: calc(100vw * 10 / 1920);
                  margin: calc(100vw * 16 / 1920) 0 0;

                  @include g.sp {
                    gap: calc(100vw * 5 / 375);
                    margin: calc(100vw * 10 / 375) 0 0;
                  }

                  .item {
                    font-size: calc(100vw * 20 / 1920);
                    font-weight: 500;

                    @include g.sp {
                      font-size: calc(100vw * 12 / 375);
                    }
                  }
                }
              }
            }
          }
        }

        &.l-feature {

          .feature_contents {
            margin: calc(100vw * 100 / 1920) 0 0;

            @include g.sp {
              margin: calc(100vw * 30 / 375) 0 0;
            }

            .feature_list {
              display: flex;
              justify-content: space-between;
              align-items: flex-start;

              @include g.sp {
                flex-wrap: wrap;
              }

              .item {
                width: calc(100% - ((100vw * 200 / 1920)*2) / 3);

                @include g.sp {
                  width: 100%;
                  margin: calc(100vw * 20 / 375) 0 0;
                }

                picture {

                  source,
                  img {
                    display: block;
                    width: calc(100vw * 150 / 1920);
                    margin: 0 auto;

                    @include g.sp {
                      width: calc(100vw * 75 / 375);
                    }
                  }
                }

                .feature_ttl_03 {
                  font-size: calc(100vw * 32 / 1920);
                  margin: calc(100vw * 25 / 1920) 0 0;
                  font-weight: 700;
                  text-align: center;
                  color: #2c2c2c;

                  @include g.sp {
                    font-size: calc(100vw * 18 / 375);
                    margin: calc(100vw * 10 / 375) 0 0;
                  }
                }

                .feature_txt {
                  font-size: calc(100vw * 18 / 1920);
                  margin: calc(100vw * 25 / 1920) 0 0;
                  font-weight: 400;
                  line-height: calc(100vw * 29 / 1920);
                  text-align: center;
                  letter-spacing: 1.72px;

                  @include g.sp {
                    font-size: calc(100vw * 12 / 375);
                    margin: calc(100vw * 10 / 375) 0 0;
                    line-height: calc(100vw * 21 / 375);
                  }
                }
              }
            }
          }

          .rule_contents {
            margin: calc(100vw * 100 / 1920) 0 0;

            @include g.sp {
              margin: calc(100vw * 30 / 1920) 0 0;
            }

            .rule {
              width: calc(100vw * 1366 / 1920);
              height: calc(100vw * 183 / 1920);
              background: #fff;
              display: flex;
              justify-content: center;
              align-items: center;
              flex-direction: column;
              margin: calc(100vw * 30 / 1920) auto 0;

              @include g.sp {
                width: 100%;
                height: calc(100vw * 80 / 375);
                margin: calc(100vw * 10 / 375) auto 0;
                padding: calc(100vw * 10 / 375);
              }

              .rule_title {
                font-size: calc(100vw * 24 / 1920);
                font-weight: 700;

                @include g.sp {
                  font-size: calc(100vw * 14 / 375);
                }
              }

              .rule_txt {
                font-size: calc(100vw * 18 / 1920);
                font-weight: 500;
                margin: calc(100vw * 27 / 1920) 0 0;

                @include g.sp {
                  font-size: calc(100vw * 12 / 375);
                  margin: calc(100vw * 10 / 375) 0 0;
                  text-align: center;
                }
              }
            }
          }

          .type_txt {
            margin: calc(100vw * 100 / 1920) 0 0;
            font-size: calc(100vw * 48 / 1920);
            font-weight: 700;
            text-align: center;

            @include g.sp {
              margin: calc(100vw * 30 / 375) 0 0;
              font-size: calc(100vw * 24 / 375);
            }
          }

          .reccomend_contents {
            width: fit-content;
            margin: calc(100vw * 100 / 1920) auto 0;
            background: #fff;
            border-radius: calc(100vw * 48 / 1920);
            padding: calc(100vw * 50 / 1920) calc(100vw * 150 / 1920);

            @include g.sp {
              width: 100%;
              margin: calc(100vw * 30 / 375) auto 0;
              border-radius: calc(100vw * 12 /375);
              padding: calc(100vw * 15 / 375) calc(100vw * 15 / 375);
            }

            .reccomend_list {
              width: 80%;
              margin: 0 auto;

              @include g.sp {
                width: 100%;
              }

              .items {
                width: 100%;
                margin: calc(100vw * 40 / 1920) 0 0;

                @include g.sp {
                  margin: calc(100vw * 40 / 375) 0 0;
                }

                .reccomend_txt {
                  width: 100%;
                  font-size: calc(100vw * 24 / 1920);
                  font-weight: 500;
                  display: flex;
                  justify-content: left;
                  align-items: center;

                  @include g.sp {
                    font-size: calc(100vw * 16 / 375);
                  }

                  img {
                    margin: 0 calc(100vw * 15 / 1920) 0 0;

                    @include g.sp {
                      width: calc(100vw * 30 / 375);
                      height: auto;
                    }
                  }
                }

                &:first-child {
                  margin: 0;
                }
              }
            }
          }
        }

        &.l-flow {
          .flow_list {
            width: 60%;
            margin: calc(100vw * 100 / 1920) auto;

            @include g.sp {
              width: 100%;
              margin: calc(100vw * 50 / 1920) auto;
            }

            .items {
              display: flex;
              justify-content: left;
              align-items: center;
              gap: calc(100vw * 80 / 1920);
              margin: calc(100vw * 50 / 1920) 0 0;

              @include g.sp {
                gap: calc(100vw * 30 / 375);
                margin: calc(100vw * 20 / 375) 0 0;
              }

              .number {
                position: relative;
                width: calc(100vw * 100 / 1920);
                height: auto;

                @include g.sp {
                  width: calc(100vw * 50 / 375);
                }

                picture {

                  source,
                  img {
                    display: block;
                    width: calc(100vw * 100 / 1920);
                    height: auto;

                    @include g.sp {
                      width: calc(100vw * 50 / 375);
                    }
                  }
                }

                .number_txt {
                  position: absolute;
                  top: 58%;
                  left: 50%;
                  transform: translate(-50%, -50%);
                  color: #fff;
                  font-size: calc(100vw * 40 / 1920);
                  font-weight: 900;

                  @include g.sp {
                    font-size: calc(100vw * 21 / 375);
                  }
                }
              }

              .flow_right {
                .flow_ttl {
                  font-size: calc(100vw * 32 / 1920);
                  font-weight: 700;

                  @include g.sp {
                    font-size: calc(100vw * 18 / 375);
                  }
                }

                .flow_txt {
                  font-size: calc(100vw * 20 / 1920);
                  font-weight: 400;
                  margin: calc(100vw * 10 / 1920) 0 0;

                  @include g.sp {
                    font-size: calc(100vw * 16 / 375);
                    margin: calc(100vw * 10 / 375) 0 0;
                  }
                }
              }
            }
          }
        }

        &.l-price {
          padding: 0 0 calc(100vw * 200 / 1920);
          padding-inline: calc(100vw * 200 / 1920);

          @include g.sp {
            padding: 0 0 calc(100vw * 50 / 375);
            padding-inline: calc(100vw * 16 / 375);
          }

          .p_site {
            &_tabs {
              margin: calc(100vw * 80 / 1920) 0 0;

              @include g.sp {
                margin: calc(100vw * 30 / 375) 0 0;
              }

              &__nav {
                display: flex;
                justify-content: left;
                align-items: flex-start;
                width: 100%;
                gap: calc(100vw * 10 / 1920);

                @include g.sp {
                  flex-wrap: wrap;
                  gap: calc(100vw * 5 / 375);
                }
              }

              &__tab {
                width: calc((100% - (10px * 5)) / 6);
                height: calc(100vw * 100 / 1920);
                background: #fff;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                font-size: calc(100vw * 24 / 1920);
                font-weight: 900;
                transition: all ease-in-out .3s;
                border-radius: calc(100vw * 10 / 1920) calc(100vw * 10 / 1920) 0 0;

                @include g.sp {
                  flex-wrap: wrap;
                  width: calc((100% - (5px * 2)) / 3);
                  // width: 50%;
                  height: calc(100vw * 50 / 375);
                  font-size: calc(100vw * 14 / 375);
                }

                &.is_active {
                  background: #2c2c2c;
                  color: #fff;
                  height: calc(100vw * 100 / 1920);

                  @include g.sp {
                    height: calc(100vw * 50 / 375);
                  }
                }
              }

              &__panel {
                border: solid calc(100vw * 3 / 1920) #2c2c2c;
                padding: calc(100vw * 32 / 1920) calc(100vw * 80 / 1920) calc(100vw * 80 / 1920);
                background-color: #fff;
                opacity: 0;
                transform: translateY(10px);
                transition: opacity 0.35s ease, transform 0.35s ease;
                display: none;

                @include g.sp {
                  border: solid calc(100vw * 3 / 375) #2c2c2c;
                  padding: calc(100vw * 15 / 375) calc(100vw * 20 / 375) calc(100vw * 20 / 375);
                }

                &.is_active {
                  display: block;
                  opacity: 1;
                  transform: translateY(0);
                }

                .top_ttl {
                  width: 100%;
                  // height: calc(100vw * 80 / 1920);
                  height: auto;
                  margin: 0 auto;
                  background: #2c2c2c;
                  border-radius: calc(100vw * 10 / 1920);
                  font-size: calc(100vw * 24 / 1920);
                  line-height: calc(100vw * 32 / 1920);
                  padding: calc(100vw * 15 / 1920) 0;
                  font-weight: 900;
                  color: #fff;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  text-align: center;

                  @include g.sp {
                    height: auto;
                    border-radius: 0;
                    font-size: calc(100vw * 21 / 375);
                    margin: calc(100vw * 5 / 375) auto calc(100vw * 30 / 375);
                    line-height: calc(100vw * 32 / 375);
                    padding: calc(100vw * 15 / 375) 0;
                    background: none;
                    border-top: #2c2c2c solid 3px;
                    border-bottom: #2c2c2c solid 3px;
                    color: #2c2c2c;
                  }
                }

                ._3col {
                  display: flex;
                  justify-content: center;
                  align-items: flex-start;
                  margin: calc(100vw * 50 / 1920) 0 0;

                  @include g.sp {
                    flex-wrap: wrap;
                    margin: 0;
                  }

                  .price_box {
                    width: calc(100% / 3);
                    padding: 0 calc(100vw * 30 / 1920);
                    border-right: solid 1px #ddd;

                    @include g.sp {
                      width: 100%;
                      border-right: none;
                      padding: 0;
                      margin: calc(100vw * 20 / 375) 0 0;
                    }

                    &:last-child {
                      border-right: none;
                    }

                    .ttl {
                      width: calc(100vw * 240 / 1920);
                      height: calc(100vw * 40 / 1920);
                      background: #2c2c2c;
                      color: #fff;
                      font-size: calc(100vw * 18 / 1920);
                      font-weight: 900;
                      display: flex;
                      justify-content: center;
                      align-items: center;
                      border-radius: calc(100vw * 28 / 1920);
                      margin: 0 auto;

                      @include g.sp {
                        width: calc(100vw * 200 / 375);
                        height: calc(100vw * 30 / 375);
                        font-size: calc(100vw * 16 / 375);
                        border-radius: calc(100vw * 28 / 375);
                      }
                    }

                    .price {
                      font-size: calc(100vw * 18 / 1920);
                      font-weight: 500;
                      text-align: center;
                      margin: calc(100vw * 30 / 1920) 0 0;

                      @include g.sp {
                        font-size: calc(100vw * 14 / 375);
                        margin: calc(100vw * 20 / 375) 0 0;
                      }
                    }

                    .schedule {
                      font-size: calc(100vw * 18 / 1920);
                      font-weight: 500;
                      text-align: center;
                      margin: calc(100vw * 10 / 1920) 0 0;

                      @include g.sp {
                        font-size: calc(100vw * 14 / 375);
                        margin: calc(100vw * 10 / 375) 0 0;
                      }
                    }

                    ._b {
                      font-size: calc(100vw * 40 / 1920);
                      font-weight: 900;
                      margin: 0 0 0 calc(100vw * 10 / 1920);

                      @include g.sp {
                        font-size: calc(100vw * 40 / 375);
                        font-weight: 900;
                        margin: 0 0 0 calc(100vw * 10 / 375);
                      }
                    }

                    picture {
                      margin: calc(100vw * 50 / 1920) 0 0;
                      box-shadow: 0px 0px 15px -5px #777777;

                      source,
                      img {
                        display: block;
                        width: 100%;
                        height: auto;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}