@use "../global" as g;

// ======================================================================
// p-privacy
// ======================================================================

.l-main {
  .l-contents {
    .l-sec.l-privacy {
      margin: 0;
      padding: calc(100vw * 40 / 1920) 0 calc(100vw * 80 / 1920);
      padding-inline: 0;

      @include g.sp {
        padding: calc(100vw * 20 / 375) 0 calc(100vw * 40 / 375);
        padding-inline: 0;
      }

    .lead {
      max-width: calc(100vw * 1200 / 1920);
      margin: 0 auto calc(100vw * 40 / 1920);
      padding: 0 calc(100vw * 40 / 1920);
      font-size: calc(100vw * 18 / 1920);
      line-height: 1.8;
      color: #2c2c2c;

      @include g.sp {
        margin: 0 auto calc(100vw * 24 / 375);
        padding: 0 calc(100vw * 20 / 375);
        font-size: calc(100vw * 14 / 375);
        line-height: 1.7;
      }
    }

    .pri_ttl {
      max-width: calc(100vw * 1200 / 1920);
      margin: calc(100vw * 40 / 1920) auto calc(100vw * 20 / 1920);
      padding: 0 calc(100vw * 40 / 1920);
      font-size: calc(100vw * 24 / 1920);
      font-weight: 700;
      color: #2c2c2c;
      border-bottom: 2px solid #2c2c2c;
      padding-bottom: calc(100vw * 8 / 1920);

      @include g.sp {
        margin: calc(100vw * 30 / 375) auto calc(100vw * 16 / 375);
        padding: 0 calc(100vw * 20 / 375);
        font-size: calc(100vw * 18 / 375);
        padding-bottom: calc(100vw * 6 / 375);
      }
    }

    .txt {
      max-width: calc(100vw * 1200 / 1920);
      margin: 0 auto calc(100vw * 40 / 1920);
      padding: 0 calc(100vw * 40 / 1920);
      font-size: calc(100vw * 16 / 1920);
      line-height: 1.8;
      color: #2c2c2c;

      @include g.sp {
        margin: 0 auto calc(100vw * 24 / 375);
        padding: 0 calc(100vw * 20 / 375);
        font-size: calc(100vw * 14 / 375);
        line-height: 1.7;
      }
      }
    }
  }

}