@use "../global" as g;

// ======================================================================
// p-sitemap
// ======================================================================

.l-main {
  .l-contents {
    .l-sec.l-sitemap {
      margin: 0;
      padding: calc(100vw * 40 / 1920) 0 calc(100vw * 80 / 1920);
      padding-inline: 0;

      @include g.sp {
        padding: calc(100vw * 20 / 375) 0 calc(100vw * 40 / 375);
        padding-inline: 0;
      }

      .inner {
        max-width: calc(100vw * 1200 / 1920);
        margin: 0 auto;
        padding: 0 calc(100vw * 40 / 1920);

        @include g.sp {
          padding: 0 calc(100vw * 20 / 375);
        }
      }

      .sitemap_lists {
        list-style: none;
        padding: 0;
        margin: 0;

        .sitemap_item {
          margin: calc(100vw * 16 / 1920) 0 0;
          padding: calc(100vw * 12 / 1920) 0;
          border-bottom: 1px solid #e5e5e5;

          @include g.sp {
            margin: calc(100vw * 12 / 375) 0 0;
            padding: calc(100vw * 10 / 375) 0;
          }

          &:first-child {
            margin-top: 0;
          }

          >a {
            display: block;
            color: #2c2c2c;
            font-size: calc(100vw * 18 / 1920);
            font-weight: 500;
            text-decoration: none;
            transition: opacity 0.3s ease-in-out;

            @include g.sp {
              font-size: calc(100vw * 14 / 375);
            }

            &:hover {
              opacity: 0.7;
            }
          }

          &.has-children {
            .child_lists {
              list-style: none;
              padding: 0;
              margin: calc(100vw * 8 / 1920) 0 0 calc(100vw * 24 / 1920);

              @include g.sp {
                margin: calc(100vw * 6 / 375) 0 0 calc(100vw * 16 / 375);
              }

              li {
                margin: calc(100vw * 8 / 1920) 0 0;
                padding: calc(100vw * 8 / 1920) 0;

                @include g.sp {
                  margin: calc(100vw * 6 / 375) 0 0;
                  padding: calc(100vw * 6 / 375) 0;
                }

                a {
                  display: block;
                  color: #666;
                  font-size: calc(100vw * 16 / 1920);
                  font-weight: 400;
                  text-decoration: none;
                  transition: opacity 0.3s ease-in-out;

                  @include g.sp {
                    font-size: calc(100vw * 13 / 375);
                  }

                  &:hover {
                    opacity: 0.7;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}