@use "../global" as g;

// ======================================================================
// p-teaching
// ======================================================================

.p-teaching {
  .l-main {
    .l-contents {
      .l-sec {

        &.l-regional {
          padding-inline: 0;

          .u_head_ttl_02 {
            padding-inline: calc(100vw * 200 / 1920);

            @include g.sp {
              padding-inline: calc(100vw * 16 / 375);
            }
          }

          .regional_contents {
            margin: calc(100vw * 100 / 1920) 0 0;
            padding-inline: calc(100vw * 200 / 1920);
            display: flex;
            justify-content: center;
            align-items: center;

            @include g.sp {
              flex-wrap: wrap;
              margin: calc(100vw * 30 / 375) 0 0;
              padding-inline: calc(100vw * 16 / 375);
            }

            .left {
              width: 50%;

              @include g.sp {
                width: 100%;
              }

              picture {

                source,
                img {
                  display: block;
                  width: 100%;
                  margin: 0 auto;
                }
              }
            }

            .right {
              width: 50%;

              @include g.sp {
                width: 100%;
              }

              .txt {
                font-size: calc(100vw * 18 / 1920);
                color: #2c2c2c;
                text-align: center;
                line-height: calc(100vw * 39 / 1920);
                font-weight: 500;

                @include g.sp {
                  font-size: calc(100vw * 14 / 375);
                  line-height: calc(100vw * 21 / 375);
                  margin: calc(100vw * 15 / 375) 0 0;
                  text-align: left;
                }
              }
            }
          }

          .slider-container {
            width: 100%;
            overflow: hidden;
            padding-inline: unset;
            margin: calc(100vw * 100 / 1920) 0 0;

            @include g.sp {
              margin: calc(100vw * 50 / 375) 0 0;
            }

            .slider-list {
              display: flex;
              flex-wrap: nowrap; // 折り返し禁止（念のため）
              padding: 0;
              margin: 0;
              list-style: none;
              will-change: margin-left; // transformは使ってないので一応修正

              li {
                flex: 0 0 auto; // ← これが超重要：幅を自動計算するけど縮めない

                $gap: 2px;
                margin-right: $gap;

                &:last-child {
                  margin-right: 0;
                }

                picture {
                  display: block;
                  height: 150px;
                  width: auto;
                }

                picture img {
                  display: block;
                  width: auto;
                  height: 100%;
                }
              }
            }
          }

        }

        &.l-skill {
          padding-inline: 0;

          .c_skill {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: calc(100vw * 200 / 1920) 0 0;

            @include g.sp {
              flex-wrap: wrap;
              margin: calc(100vw * 50 / 375) 0 0;
            }

            .left {
              margin: 0 0 0 calc(100vw * 200 / 1920);

              @include g.sp {
                width: 100%;
                margin: 0;
                padding-inline: calc(100vw * 16 / 375);
              }

              .u_head_ttl_02 {
                padding: 0;

                @include g.sp {
                  // text-align: center;
                }

                .en {
                  font-size: calc(100vw * 64 / 1920);
                  font-weight: 900;

                  @include g.sp {
                    font-size: calc(100vw * 32 / 375);
                  }
                }

                .ja {
                  font-size: calc(100vw * 40 / 1920);
                  font-weight: 700;

                  @include g.sp {
                    font-size: calc(100vw * 21 / 375);
                  }
                }
              }

              .ttl_txt {
                font-size: calc(100vw * 18 / 1920);
                font-weight: 500;
                margin: calc(100vw * 15 / 1920) 0 0;

                @include g.sp {
                  font-size: calc(100vw * 14 / 375);
                  line-height: calc(100vw * 21 / 375);
                  margin: calc(100vw * 15 / 375) 0 0;
                  text-align: left;
                }
              }
            }

            .right {
              width: calc(100vw * 1086 / 1920);
              height: auto;

              @include g.sp {
                width: 100%;
                margin: calc(100vw * 15 / 375) 0 0;
              }

              picture {

                source,
                img {
                  display: block;
                  width: 100%;
                  height: auto;
                }
              }
            }
          }

          .type_txt {
            margin: calc(100vw * 100 / 1920) 0 0;
            font-size: calc(100vw * 48 / 1920);
            font-weight: 700;
            text-align: center;

            @include g.sp {
              margin: calc(100vw * 30 / 375) calc(100vw * 16 / 375) 0;
              font-size: calc(100vw * 24 / 375);
            }
          }

          .reccomend_contents {
            width: fit-content;
            margin: calc(100vw * 100 / 1920) auto 0;
            background: #fff;
            border-radius: calc(100vw * 48 / 1920);
            padding: calc(100vw * 50 / 1920) calc(100vw * 150 / 1920);

            @include g.sp {
              width: 100%;
              margin: calc(100vw * 30 / 375) 0 0;
              border-radius: calc(100vw * 12 /375);
              padding: calc(100vw * 15 / 375) 0;
            }

            .reccomend_list {
              width: 80%;
              margin: 0 auto;

              @include g.sp {
                width: calc(100% - 32px);
              }

              .items {
                width: 100%;
                margin: calc(100vw * 40 / 1920) 0 0;

                @include g.sp {
                  margin: calc(100vw * 40 / 375) 0 0;
                }

                .reccomend_txt {
                  width: 100%;
                  font-size: calc(100vw * 24 / 1920);
                  font-weight: 500;
                  display: flex;
                  justify-content: left;
                  align-items: center;

                  @include g.sp {
                    font-size: calc(100vw * 16 / 375);
                  }

                  img {
                    margin: 0 calc(100vw * 15 / 1920) 0 0;

                    @include g.sp {
                      width: calc(100vw * 30 / 375);
                      height: auto;
                    }
                  }
                }

                &:first-child {
                  margin: 0;
                }
              }
            }
          }
        }

        &.l-feature {
          .feature_content {
            margin: calc(100vw * 100 / 1920) 0 0;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            padding: calc(100vw * 70 / 1920) calc(100vw * 50 / 1920);
            gap: calc(100vw * 70 / 1920);
            background: #fff;

            @include g.sp {
              margin: calc(100vw * 50 / 375) 0 0;
              padding: calc(100vw * 15 / 375);
              gap: calc(100vw * 30 / 375);
            }

            .feature_box {
              position: relative;
              width: calc(50% - 70px);

              @include g.sp {
                width: 100%;
              }

              .ico {
                position: absolute;
                top: calc(100vw * -35 / 1920);
                left: 50%;
                transform: translateX(-50%);

                @include g.sp {
                  top: calc(100vw * -15 / 375);
                }

                img {
                  width: calc(100vw * 80 / 1920);
                  height: auto;

                  @include g.sp {
                    width: calc(100vw * 40 / 375);
                  }
                }

                .ico_txt {
                  position: absolute;
                  top: 58%;
                  left: 50%;
                  transform: translate(-50%, -50%);
                  color: #fff;
                  font-size: calc(100vw * 32 / 1920);
                  font-weight: 900;

                  @include g.sp {
                    font-size: calc(100vw * 18 / 375);
                  }
                }
              }

              picture {

                source,
                img {
                  display: block;
                  width: 100%;
                  height: auto;
                }
              }

              .feature_ttl {
                font-size: calc(100vw * 32 / 1920);
                font-weight: 700;
                text-align: center;
                margin: calc(100vw * 20 / 1920) 0 0;
                line-height: calc(100vw * 50 / 1920);

                @include g.sp {
                  font-size: calc(100vw * 18 / 375);
                  margin: calc(100vw * 20 / 375) 0 0;
                  line-height: calc(100vw * 21 / 375);
                }
              }

              .feature_txt {
                font-size: calc(100vw * 18 / 1920);
                font-weight: 400;
                text-align: left;
                margin: calc(100vw * 30 / 1920) 0 0;
                line-height: calc(100vw * 30 / 1920);
                letter-spacing: 1.72px;

                @include g.sp {
                  font-size: calc(100vw * 14 / 375);
                  margin: calc(100vw * 20 / 375) 0 0;
                  line-height: calc(100vw * 21 / 375);
                }
              }
            }
          }
        }

        &.l-flow {
          .flow_list {
            width: 60%;
            margin: calc(100vw * 100 / 1920) auto;

            @include g.sp {
              width: 100%;
              margin: calc(100vw * 50 / 1920) auto;
            }

            .items {
              display: flex;
              justify-content: left;
              align-items: center;
              gap: calc(100vw * 80 / 1920);
              margin: calc(100vw * 50 / 1920) 0 0;

              @include g.sp {
                gap: calc(100vw * 30 / 375);
                margin: calc(100vw * 20 / 375) 0 0;
              }

              .number {
                position: relative;
                width: calc(100vw * 100 / 1920);
                height: auto;

                @include g.sp {
                  width: calc(100vw * 50 / 375);
                }

                picture {

                  source,
                  img {
                    display: block;
                    width: calc(100vw * 100 / 1920);
                    height: auto;

                    @include g.sp {
                      width: calc(100vw * 50 / 375);
                    }
                  }
                }

                .number_txt {
                  position: absolute;
                  top: 58%;
                  left: 50%;
                  transform: translate(-50%, -50%);
                  color: #fff;
                  font-size: calc(100vw * 40 / 1920);
                  font-weight: 900;

                  @include g.sp {
                    font-size: calc(100vw * 21 / 375);
                  }
                }
              }

              .flow_right {
                .flow_ttl {
                  font-size: calc(100vw * 32 / 1920);
                  font-weight: 700;

                  @include g.sp {
                    font-size: calc(100vw * 18 / 375);
                  }
                }

                .flow_txt {
                  font-size: calc(100vw * 20 / 1920);
                  font-weight: 400;
                  margin: calc(100vw * 10 / 1920) 0 0;

                  @include g.sp {
                    font-size: calc(100vw * 16 / 375);
                    margin: calc(100vw * 10 / 375) 0 0;
                  }
                }
              }
            }
          }
        }

        &.l-plan {
          padding: 0 0 calc(100vw * 200 / 1920);
          padding-inline: calc(100vw * 200 / 1920);

          @include g.sp {
            padding: 0 0 calc(100vw * 50 / 375);
            padding-inline: calc(100vw * 16 / 375);
          }

          .plan_contents {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            gap: calc(100vw * 20 / 1920);
            margin: calc(100vw * 100 / 1920) 0 0;

            @include g.sp {
              flex-wrap: wrap;
              gap: calc(100vw * 20 / 375);
              margin: calc(100vw * 30 / 375) 0 0;
            }

            .plan {
              box-sizing: border-box;
              width: calc((100% / 3) - (100vw * 40 / 1920));
              background: #fff;
              border: solid calc(100vw * 3 / 1920) #2c2c2c;
              padding: calc(100vw * 30 / 1920);
              border-radius: calc(100vw * 10 / 1920);
              min-height: calc(100vw * 680 / 1920);

              @include g.sp {
                width: 100%;
                border: solid calc(100vw * 3 / 375) #2c2c2c;
                padding: calc(100vw * 15 / 375);
                border-radius: calc(100vw * 4 / 375);
                min-height: unset;
              }

              &._pop {
                border: solid calc(100vw * 3 / 1920) #D94A4A;
                position: relative;

                @include g.sp {
                  border: solid calc(100vw * 3 / 375) #D94A4A;
                }

                &::before {
                  content: "おすすめ";
                  font-weight: 900;
                  width: calc(100vw * 80 / 1920);
                  height: calc(100vw * 40 / 1920);
                  font-size: calc(100vw * 14 / 1920);
                  color: #fff;
                  background: #D94A4A;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  position: absolute;
                  top: calc(100vw * 15 / 1920);
                  left: calc(100vw * 15 / 1920);

                  @include g.sp {
                    width: calc(100vw * 60 / 375);
                    height: calc(100vw * 20 / 375);
                    font-size: calc(100vw * 12 / 375);
                    top: calc(100vw * 5 / 375);
                    left: calc(100vw * 5 / 375);
                  }
                }
              }

              .tag {
                background: #2c2c2c;
                width: calc(100vw * 200 / 1920);
                height: calc(100vw * 45 / 1920);
                font-size: calc(100vw * 18 / 1920);
                color: #fff;
                font-weight: 900;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: calc(100vw * 28 / 1920);
                margin: 0 auto;

                @include g.sp {
                  width: calc(100vw * 150 / 375);
                  height: calc(100vw * 35 / 375);
                  font-size: calc(100vw * 14 / 375);
                  border-radius: calc(100vw * 28 / 375);
                }
              }

              .desc {
                font-size: calc(100vw * 18 / 1920);
                flex-wrap: 500;
                margin: calc(100vw * 20 / 1920) 0 0;
                text-align: center;

                @include g.sp {
                  font-size: calc(100vw * 14 / 375);
                  margin: calc(100vw * 20 / 375) 0 0;
                }
              }

              .price {
                font-size: calc(100vw * 32 / 1920);
                font-weight: 500;
                margin: calc(100vw * 20 / 1920) 0 0;
                text-align: center;

                @include g.sp {
                  font-size: calc(100vw * 16 / 375);
                  margin: calc(100vw * 20 / 375) 0 0;
                }

                ._b {
                  font-size: calc(100vw * 64 / 1920);
                  font-weight: 900;

                  @include g.sp {
                    font-size: calc(100vw * 32 / 375);
                  }
                }
              }

              .plan_ttl {
                font-size: calc(100vw * 24 / 1920);
                font-weight: 700;
                margin: calc(100vw * 50 / 1920) 0 0;
                text-align: center;

                @include g.sp {
                  font-size: calc(100vw * 16 / 375);
                  margin: calc(100vw * 20 / 375) 0 0;
                }
              }

              .plan_list {
                margin: calc(100vw * 18 / 1920) 0 0;

                @include g.sp {
                  margin: calc(100vw * 10 / 375) 0 0;
                }

                .plan_item {
                  font-size: calc(100vw * 20 / 1920);
                  font-weight: 400;
                  margin: calc(100vw * 15 / 1920) 0 0;
                  text-align: center;

                  @include g.sp {
                    font-size: calc(100vw * 14 / 375);
                    margin: calc(100vw * 10 / 375) 0 0;
                  }

                  &._b {
                    font-weight: 700;
                  }

                  &._r {
                    color: #D94A4A;
                    font-weight: 700;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}