@use "p-top";
@use "p-about";
@use "p-service";
@use "p-homepage";
@use "p-marketing";
@use "p-teaching";
@use "p-consulting";
@use "p-contact";
@use "p-single";
@use "p-archive";
@use "p-sitemap";
@use "p-privacy";